<h1>Login</h1>
<form method="POST" action="/login">
  <label>Email:</label>
  <input type="email" class="form-control" name="email"></input>
  <label>Password:</label>
  <input type="password" class="form-control" name="password">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
