<h1>Register</h1>
<h2>Email:
  <input type="email" class="form-control" name="email"></input>
  Password:
  <input type="password" class="form-control" name="password">
  <button type="submit" class="btn btn-primary">Submit</button>
</h2>
